img {
  width: 50px;
}
#face {
  width: 400px;
}

#face {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

#hair1 {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 260px;
}

#eyes1 {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 150px; 
}

#mouth1 {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 80px;
}

#nose1 {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
}

#ears1 {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 30%;


}


